.register{
    height: calc(100vh - 50px);
    background: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('./login.jpeg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.registerTitle{
    text-align: center;
    color: teal;
    font-size: 50px;
}

.registerForm{
    margin-top: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerForm>label{
    margin: 10px 0px; 
}

.registerInput{
    width: 60%;
    padding: 10px;
    background-color: white;
    border: none;
    margin-bottom: 20px;
}
  
.registerInput:focus{
    outline: none;
}


.registerButton{
    background-color: teal;
    color: white;
    font-size: 20px;
    width: 30%;
    padding: 10px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    color: white;
    width: 100px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
