.Settings{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 40px;
    background-color: white;
}

.settingsTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    color: rebeccapurple;
}

.settingsUpdateTitle{
    font-size: 30px;
}

.settingsDeleteTitle{
    font-size: 18px;
    cursor: pointer;
}

.settingsDeleteTitle:hover{
    color: tomato;
}

.settingsForm{
    display: flex;
    flex-direction: column;
}

.settingsProfilePic{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.settingsProfilePic>img{
    width: 300px;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    object-fit: cover;
}

.settingsProfilePicIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    color: white;
    border-radius: 25px;
    background-color: rebeccapurple;
    cursor: pointer;
}

.settingsForm>label{
    font-size:20px;
    margin-top:20px;
}

.settingsForm>input{
    margin: 5px 0 20px 0px;
    height: 30px;
    font-size: 15px;
    color:grey;
    border: none;
    border-bottom: 1px solid lightgray;
    transition: border-bottom 0.2s ease-out;
}

.settingsForm>input:focus{
    outline: none;
    border-bottom: 2px solid skyblue;
}

.settingsSubmit{
    align-self: center;
    margin: 20px;
    height: 50px;
    width: 200px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: teal;
    cursor: pointer;
}

.settingsSubmit:hover{
    background-color: turquoise;
}