.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eee;
}

.headerTitleSm{
    position: absolute;
    top: 30%;
    font-size: 40px;
    letter-spacing: 30px;
}

.headerTitleLg{
    position: absolute;
    top: 40%;
    font-size: 100px;
    letter-spacing: 3px;
}

.headerImg{
    width: 100%;
    height: 500px;
    object-fit: cover;
}