.Write{
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    margin-bottom: 50px;
}

.writeImage{
    width: 55%;
    height: 35%;
    object-fit: cover;
}

.writeForm{
    position: relative;
}

.writeFormGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.writeIcon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:25px;
    border-radius: 50%;
    border: 1px solid grey;
    font-size: 20px;
    color: grey;
    cursor: pointer;
}

.writeInput{
    margin: 5px;
    padding: 20px;
    width: 70vw;
    font-size: 30px;
    border: none;
    color: grey;
}

.writeInputTitle{
    color: rebeccapurple;
}

.writeInput:focus{
    outline:none;
}

.writeText{
    font-size: 20px;
    height: 50vh;
}

.writeSubmit{
    position: absolute;
    top: 20px;
    right: 50px;
    width: 100px;
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: teal;
    cursor: pointer;
}

.writeSubmit:hover{
    background-color: turquoise;
}